FNA_yolov7/data
FNA_yolov7/yolov7/runs/train/yolov7-e6e_obj_pw2.0_epoch200
FNA_yolov7/yolov7/runs/test/yolov7-e6e_obj_pw2.0_epoch200_t
*__pycache__*
traced_model.pt
yolov7-e6e_training.pt

FNA_MIL/data_MIL